.forgot-password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-container {
    max-width: 400px;
    width: 100%;
    background: linear-gradient(to bottom, #ff6663 0%, #aee5ff 100%);
    padding: 40px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    border: 2px solid black;
  }
  
  .forgot-password-container h2 {
    margin-bottom: 25px;
    color: #333;
  }
  
  .forgot-password-input-group {
    position: relative;
    margin-bottom: 25px;
  }
  
  .forgot-password-input-group input {
    width: 100%;
    padding: 14px 15px;
    border: 1px solid black;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    background: white;
    position: relative;
  }
  
  .forgot-password-input-group label {
    position: absolute;
    left: 15px;
    top: 14px;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 0 4px;
    transition: 0.3s ease;
    pointer-events: none;
  }
  
  .forgot-password-input-group input:focus + label,
  .forgot-password-input-group input:not(:placeholder-shown) + label {
    top: -12px;
    left: 12px;
    font-size: 13px;
    font-weight: bold;
    color: #ff6663;
    background-color: #0b3954;
    transition: all 0.3s ease;
  }
  
  .forgot-password-submit {
    width: 100%;
    padding: 12px;
    background-color: #8daeed;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forgot-password-submit:hover {
    background-color: #6e93d6;
  }
  
  .forgot-password-message {
    color: red;
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .forgot-password-register-link {
    margin-top: 20px;
  }
  
  .forgot-password-register-link a {
    color: #0b3954;
    text-decoration: none;
    padding: 2px 6px;
    border-radius: 6px;
    transition: all 0.3s ease;
    display: inline-block;
  }
  
  .forgot-password-register-link a:hover {
    color: #ff6663;
    background-color: #0b3954;
  }
  